// md
@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  .projects {
    &__bio-image {
      height: 200px;

      .projects__bio-text {
        display: none;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: auto auto;
    }
  }

  .contact {
    &__list {
      grid-template-columns: auto auto;
    }

    &__email,
    &__locaton {
      p {
        font-size: 22px;
      }
    }
  }
}

//lg
@include media-lg {
  .projects {
    &__bio-image {
      .projects__bio-text {
        display: none;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }

  .about {
    &__bio-image {
      height: 40vh;
    }

    .bio {
      p {
        font-size: 18px;
      }
    }
  }

  .contact {
    &__email,
    &__locaton {
      p {
        font-size: 28px;
      }
    }
  }
}

//xl
@include media-xl {
  .projects {
    &__bio-image {
      height: 50vh;
      .projects__bio-text {
        display: none;
      }
    }
  }

  .about {
    .bio {
      p {
        font-size: 18px;
      }
    }
  }
}
