* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 22px;
}

main {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

h1 {
  color: dodgerblue;
  text-align: center;
  padding: 5px;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  background-color: lightblue;
  padding: 10px;
  width: 100%;
  border: 1px dotted blue;
}

li:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

button {
  font-size: 22px;
  width: 100%;
  padding: 10px;
  background-color: dodgerblue;
}

button:hover {
  background-color: lightblue;
}

#enter {
  font-size: 22px;
  width: 100%;
}

input {
  padding: 10px;
}

#addToStart, #addToEnd{
    margin: 15px 0 0 15px;
}
